.terminal-box {
    border-radius: 8px;
    border: 2px solid var(--text-accent);
    padding: 16px;
    margin: 8px;
}

.big-box {
    height: 85vh;
    overflow: auto;
}

.separator {
    width: 95%;
    border: 0.1px solid gray;
}

.command {
    margin-bottom: 5px;
}

.prompt {
    color: var(--text-secondary);
}

.error {
    color: var(--text-error);
}

.cursor {
    transition: ease 0.3s all;
    opacity: 1;
    font-weight: 600;
}

.cursor.invisible {
    opacity: 0;
}