<div class="terminal-box big-box d-flex flex-column">
    <span class="command">cmd terminal</span>
    <div class="d-flex command justify-content-center">
        <span class="separator"></span>
    </div>
    @for (command of commands; track $index) {
    <div class="command">
        <span class="prompt">$ </span><span class="old-input">{{ command.input }}</span>
        <div [ngClass]="{'output': command.type === CommandType.SECONDARY, 'error': command.type === CommandType.ERROR}" class="output">{{ command.output }}</div>
    </div>
    }
    <div class="command">
        <span class="prompt">$ </span>
        <span>{{currentInput}}</span>
        <span class="cursor">_</span>
    </div>
</div>