.big-box {
    height: 85vh;
    overflow: auto;
}

.separator {
    width: 95%;
    border: 0.1px solid gray;
}

.command {
    margin-bottom: 5px;
}

.prompt {
    color: var(--text-secondary);
}

.error {
    color: var(--text-error);
}

.old-input {
    opacity: 0.55;
}

.cursor {
    transition: ease 0.3s all;
    opacity: 1;
    font-weight: 600;
}

.cursor.invisible {
    opacity: 0;
}